<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="DB.ConnectionString" value="Data Source=(local);User Id=sa;Password=********"/>
    <add key="DB.IgnoreDatabases" value="master,tempdb,model,msdb,ReportServer,ReportServerTempDB"/>
    <add key="DB.BackupFolder" value="d:\BackupTests"/>
    <add key="DB.Mode" value="Backup"/>
    <add key="DB.Interval" value="300"/>
    <add key="DB.Zip.Password" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"/>
    <add key="DB.Storage" value="Azure"/>
    <add key="DB.Storage.Host" value="XXXXXXXXXX.blob.core.windows.net"/>
    <add key="DB.Storage.Container" value="XXXX"/>
    <add key="DB.Storage.Key" value="XXXXXXXXXX"/>
    <add key="DB.Storage.Secrete" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"/>
  </appSettings>
</configuration>