<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="DB.ConnectionString" value="Data Source=(local);User Id=sa;Password=********" />
    <add key="DB.IgnoreDatabases" value="master,tempdb,model,msdb,ReportServer,ReportServerTempDB" />
    <add key="DB.BackupFolder" value="d:\BackupTests" />
    <add key="DB.Mode" value="Backup" />
    <add key="DB.Interval" value="300" />
    <add key="DB.Zip.Password" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" />
    <add key="DB.Storage" value="Azure" />
    <add key="DB.Storage.Host" value="XXXXXXXXXX.blob.core.windows.net" />
    <add key="DB.Storage.Container" value="XXXX" />
    <add key="DB.Storage.Key" value="XXXXXXXXXX" />
    <add key="DB.Storage.Secrete" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>